a:hover{
  color:green;
}
body{
  display: flex;
  flex-direction: column;
}
main{
  display: flex;
  flex-direction: row;
  flex: auto;
}
aside{
  flex: 1;
  border:2px solid #a1a1a1;
	padding:10px 40px; 
	background:#dddddd;
	width:300px;
	border-radius:25px;
}
article{
  flex: 3;
}
h1,h2,h3,h4{
  text-align:center;
}
.au-info{
	text-align:right;
	font-size:5px;
}
.adalab{
	text-align:center;
	font-size:5px;
}
.h1-adalab{
	font-size:10px;
}
.div-adalab{
	border:2px solid #a1a1a1;
	padding:10px 40px; 
	background:#dddddd;
	width:300px;
	border-radius:2px;
}
