a:hover{
  color:green;
}
body{
  display: flex;
  flex-direction: column;
}
main{
  display: flex;
  flex-direction: row;
  flex: auto;
}
aside{
  flex: 1;
}
article{
  flex: 3;
}
h1,h2,h3,h4{
  text-align:center;
}
.floatBody{
  padding-bottom: 2cm
}
